body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.CssPlay {
  min-width: 500px;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zipper_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
  min-width: 200;
  min-height: 200px;
}

.zipper_both {
  width: 80px;
  height:80px;
  border: 2px solid black;
  background-color: blueviolet;
  margin: 20px;
}

.zipper_a {
  transform: perspective(10px) rotateX(7deg);
}
.zipper_b {
  transform: perspective(10px) rotateX(-7deg);
}