body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.CssPlay {
  min-width: 500px;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.CssPlay .a {
  width: 100px;
  height: 100px;
  border-radius: 50% 50% / 50px 10px 50px 10px;
  box-shadow:  10px -10px 10px 5px coral,  -15px -15px 5px -10px orange, inset  5px 5px 35px 10px darkorange;
  border: 10px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.CssPlay .b {
  margin: 20px;
  width: 100px;
  height: 100px;
  border-radius: 80% 80% / 10px 50px 10px 50px;
  box-shadow: 6px 6px 20px 10px green, -8px -8px 5px 5px darkcyan, 5px 5px 25px 10px inset forestgreen;
  border: 10px solid yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}


