body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.CssPlay {
  min-width: 500px;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zipper_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid red;
  min-width: 200;
  min-height: 200px;
}

.zipper_both {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  background-color: blueviolet;
  margin: 20px;
}

.zipper_a {
  transform: perspective(10px) rotateX(7deg);
}
.zipper_b {
  transform: perspective(10px) rotateX(-7deg);
}

.holder {
  /* height: 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Overflow_Holder {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  overflow: hidden;
}
.Overflow_Holder_2 {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 7px solid royalblue; */
  overflow: hidden;
}

/* perspective css */
.exp_a {
  width: 100px;
  height: 100px;
  background-color: brown;
  margin: 15px;
  transform: perspective(27px) rotateX(29deg);
}

.exp_b {
  width: 450px;
  height: 450px;
  background-color: brown;
  margin: -20px;
  transform: skew(25deg, 30deg);
}
.exp_c {
  width: 350px;
  height: 350px;
  background-color: blueviolet;
  margin: -20px;
  transform: skew(23deg, 33deg);
}

.exp_d {
  width: 330px;
  height: 330px;
  background-color: chocolate;
  margin: -20px;
  transform: skew(20deg, 35deg);
}

.exp_e {
  width: 320px;
  height: 320px;
  background-color: crimson;
  margin: -20px;
  transform: skew(27deg, 38deg);
}

.exp_f {
  width: 310px;
  height: 310px;
  background-color: darkmagenta;
  margin: -20px;
  transform: skew(35deg, 38deg);
}
.exp_g {
  width: 300px;
  height: 300px;
  background-color: darkgoldenrod;
  margin: -20px;
  transform: skew(35deg, 38deg);
}
.exp_h {
  width: 290px;
  height: 290px;
  background-color: darkorange;
  margin: -20px;
  transform: skew(35deg, 38deg);
}

/* breakbreakbreakbreakbreakbreakbreakbreakbreak */

.exp_1_b {
  width: 100px;
  height: 450px;
  background-color: brown;
  transform: skew(0deg, 45deg);
  position: absolute;
}
.exp_1_c {
  width: 100px;
  height: 450px;
  background-color: burlywood;
  transform: skew(15deg, 45deg);
  position: absolute;
}
.exp_1_d {
  width: 100px;
  height: 450px;
  background-color: chocolate;
  transform: skew(30deg, 45deg);
  position: absolute;
}
.exp_1_d {
  width: 100px;
  height: 450px;
  background-color: coral;
  transform: skew(60deg, 45deg);
  position: absolute;
}
.exp_1_e {
  width: 100px;
  height: 250px;
  background-color: brown;
  transform: skew(75deg, 45deg);
  position: absolute;
}

.NestContainer {
  border: 5px solid black;
  /* max-width: 400px;
  max-height: 400px; */
  /* margin: 10px; */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nest1 {
  width: 270px;
  height: 270px;
}
#nest2 {
  width: 230px;
  height: 230px;
}
#nest3 {
  width: 200px;
  height: 200px;
}
#nest4 {
  width: 170px;
  height: 170px;
}

.myCanvas_a {
  width: 1000px;
  height: 1000px;
  color: rgb(160, 20, 40);
  /* color: coral; */
}
